{#继承父类模板#}
{% extends "base.html" %}
{% block content %}
    <div class="jztop"></div>
  <div class="container">
    <div class="bloglist f_l">
        {% for article in article %}
      <h3><a href="/articledetails/{{ article.id }}">【{{ article.type.first}}】{{ article.title }}</a></h3>
      <figure><img src="/static/{{ article.picture }}" alt="【{{ article.type.first}}】{{ article.title }}"></figure>
      <ul>
        <p> {{ article.description|safe }}</p>
        <a title="【{{ article.type.first}}】{{ article.title }}" href="/articledetails/{{ article.id }}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview"><span>{{ article.date }}</span><span>作者：{{ article.author }}</span><span>个人博客：[<a href="/jstt/bj/">{{ article.type.first }}</a>]</span></p>
        {% endfor %}
    </div>
    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_blank">我的电话</a></li>
            <li><a class="qq" href="#mailto:admin@admin.com" target="_blank">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_blank">我的QQ</a></li>
            <li><a class="prize" href="#">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <!--tit01 end-->

      <div class="tuwen">
        <h3 class="tit">图文推荐</h3>
        <ul>
            {% for tuwen in recommend_article %}
          <li><a href="/articledetails/{{tuwen.id  }}"><img src="/static/{{tuwen.picture  }}"><b>{{ tuwen.title }}</b></a>
              <p><span class="tulanmu"><a href="/articledetails/{{tuwen.id  }}">{{ tuwen.type.first }}</a></span><span class="tutime">{{ tuwen.date }}</span></p>

          </li>
            {% endfor %}

        </ul>
      </div>
      <div class="ph">
        <h3 class="tit">点击排行</h3>
        <ul class="rank">
            {% for paihang in click_article %}
          <li><a href="/articledetails/{{ paihang.id }}" title="【paihang.type.first】{{ paihang.title }}" target="_blank">【{{ paihang.type.first }}】{{ paihang.title }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="ad"> <img src="/static/images/03.jpg"> </div>
    </div>
  </div>
  <!-- container代码 结束 -->
  <div class="jzend"></div>
{% endblock %}



